version: '3.8'

services:

  # 1. The Nginx Reverse Proxy (The single entry point for all user traffic)
  nginx-proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80" # Maps public access to Nginx (the user endpoint)
    volumes:
      # Mounts our custom Nginx config file for dynamic switching
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - bg_network

  # 2. The Blue Environment (The currently running, stable application: v1.0.0)
  blue:
    image: darshiniiiiiiii/nodejs-bg-app:1.0.0 # <-- USE YOUR LOWERCASE USERNAME
    container_name: nodejs-bg-app_blue
    environment:
      - PORT=3000
      - APP_VERSION=1.0.0
      - ENV_COLOR=Blue
    restart: always
    networks:
      - bg_network

  # 3. The Green Environment (The staging target for new releases: v2.0.0)
  green:
    image: darshiniiiiiiii/nodejs-bg-app:1.0.0 # <-- USE YOUR LOWERCASE USERNAME (This placeholder tag will be built/pulled by Jenkins)
    container_name: nodejs-bg-app_green
    environment:
      - PORT=3000
      - APP_VERSION=2.0.0
      - ENV_COLOR=Green
    restart: always
    networks:
      - bg_network

networks:
  bg_network:
    driver: bridge
